<launch>
    <!-- Launch an empty Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
        <arg name="paused" value="false"/>
    </include>

    <!-- Robot 1 -->
    <group ns="robot1">
    	<include file="$(find limo_gazebo_sim)/launch/limo_ackerman.launch">
            <arg name="robot_namespace" value="robot1"/>
            <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="yaw" value="0"/>
       </include>
   </group>

    <!-- Robot 2 -->
    <group ns="robot2">
        <include file="$(find limo_gazebo_sim)/launch/limo_ackerman.launch">
            <arg name="robot_namespace" value="robot2"/>
            <arg name="x" value="2"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="yaw" value="0"/>
    	</include>
    </group>


    <!-- Robot 3 -->
    <group ns="robot3">
    	<include file="$(find limo_gazebo_sim)/launch/limo_ackerman.launch">
            <arg name="robot_namespace" value="robot3"/>
            <arg name="x" value="0"/>
            <arg name="y" value="2"/>
            <arg name="z" value="0"/>
            <arg name="yaw" value="0"/>
    	</include>
    </group>


</launch>

