<launch>

    <!-- Load Gazebo with your custom world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robotics_project_pkg)/worlds/test_world_1.world"/>
        <arg name="paused" value="false"/>
    </include>

    <!-- Robot 1 -->
    <group ns="robot1">
        <include file="$(find limo_gazebo_sim)/launch/my_limo.launch">
            <arg name="robot_namespace" value="robot1"/>
            <arg name="x" value="0.5" />
            <arg name="y" value="0.5" />
        </include>
    </group>

    <!-- Robot 2 -->
    <group ns="robot2">
        <include file="$(find limo_gazebo_sim)/launch/my_limo.launch">
            <arg name="robot_namespace" value="robot2"/>
            <arg name="x" value="0.5" />
            <arg name="y" value="14.5" />
        </include>
    </group>

    <!-- Robot 3 -->
    <group ns="robot3">
        <include file="$(find limo_gazebo_sim)/launch/my_limo.launch">
            <arg name="robot_namespace" value="robot3"/>
            <arg name="x" value="14.5" />
            <arg name="y" value="14.5" />
        </include>
    </group>

</launch>

