<?xml version="1.0"?>
<launch>
    <arg name="robot_namespace" default="robot"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <group ns="$(arg robot_namespace)">

        <!-- Robot description under namespace -->
        <param name="robot_description"
               command="$(find xacro)/xacro '$(find limo_description)/urdf/limo_four_diff.xacro'
               robot_namespace:=$(arg robot_namespace)" />

        <!-- Spawn with unique node name -->
        <node
            name="$(arg robot_namespace)_spawn_limo_model"
            pkg="gazebo_ros"
            type="spawn_model"
            args="-x $(arg x)
                  -y $(arg y)
                  -z $(arg z)
                  -Y $(arg yaw)
                  -urdf
                  -param robot_description
                  -model $(arg robot_namespace)" />

        <!-- Publishers -->
        <node name="robot_state_publisher"
              pkg="robot_state_publisher"
              type="robot_state_publisher"/>

        <node name="joint_state_publisher"
              pkg="joint_state_publisher"
              type="joint_state_publisher"/>

    </group>
</launch>
