<?xml version="1.0"?>
<launch>

    <arg name="robot_namespace" default="robot1"/>
    <arg name="x"   default="0.0"/>
    <arg name="y"   default="0.0"/>
    <arg name="z"   default="0.0"/>
    <arg name="yaw" default="0.0"/>
    
    <!-- TF prefix -->
    <param name="tf_prefix" value="$(arg robot_namespace)" />

    <!-- Load robot_description --> 
    <param name="robot_description"
       command="$(find xacro)/xacro '$(find robotics_project_pkg)/urdf/limo_ackerman.xacro' robot_namespace:=$(arg robot_namespace)"/>

        <!-- Load controller configuration -->
    <rosparam file="$(find robotics_project_pkg)/config/limo_ackerman_control.yaml" command="load" ns="$(arg robot_namespace)/gazebo_ros_control"/>
	
    <!-- Spawn robot model into Gazebo -->
    	<node name="spawn_limo_model" pkg="gazebo_ros" type="spawn_model"
          args="-x $(arg x)
                -y $(arg y)
                -z $(arg z)
                -Y $(arg yaw)
                -unpause
                -urdf
                -param robot_description
                -model limo_$(arg robot_namespace)"
          output="screen" />
          
	
        <!-- Spawn controllers LOCAL to this namespace -->
        <node name="controller_spawner"
              pkg="controller_manager"
              type="spawner"
              output="screen"
              args="limo_state_controller  
                    limo_fl_steering_hinge_controller
                    limo_fr_steering_hinge_controller"/>

        <!-- Robot State Publisher (namespaced) -->
        <node name="robot_state_publisher"
              pkg="robot_state_publisher"
              type="robot_state_publisher"
              output="screen" />

</launch>

