<launch>
  <arg name="gui" default="true"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robotics_project_pkg)/worlds/test_world_1.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
  
  <group ns="robot1">
    <include file="$(find limo_gazebo_sim)/launch/limo_ackerman.launch">
        <arg name="robot_namespace" value="robot1"/>

        <!-- Robot Pose -->
        <arg name="x" value="0.5"/>
        <arg name="y" value="0.5"/>
        <arg name="z" value="0.5"/>
        <arg name="yaw" value="0"/>
    </include>
  </group>
</launch>

